src/main/mule/update-employ.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employFlow" doc:id="78f3e565-484c-4e16-84a0-fa89442573ee" >
		<http:listener doc:name="Update Employee Listener" doc:id="b1a684f5-ec8c-481f-8d14-ee3cc2c0eb0e" config-ref="HTTP_Listener_config2" path="/update-employee" allowedMethods="PUT"/>
		<logger level="TRACE" doc:name="Logger" doc:id="edc597dd-fe60-4e58-82dc-633a74723c81" message="before starting the flow"/>
		<db:update doc:name="Update" doc:id="bdd78f55-4f95-4481-b6a6-bdf0a78adec3" config-ref="Database_Config">
			<db:sql ><![CDATA[update employ set emp_status=:empStatus where emp_id=:empId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empId: payload.employee.employeeId,
	empStatus: payload.employee.employeeStatus
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="8b974248-6460-4132-8df6-69bd625f4276" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		status: 200,
		message: "success"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6d287fb4-51d8-4db6-9ef9-14b9b88128d5" message="after updating emp status" />
	</flow>
</mule>
